@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Nova+Flat&family=Viaoda+Libre&display=swap');

.addproducts {
    width: 95%;
    margin: auto;
    color: rgb(105, 184, 105);
    font-family: 'Assistant', sans-serif;
}