
@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Nova+Flat&family=Viaoda+Libre&display=swap');

.updateproduct {
    width: 95%;
    margin: auto;
    color: rgb(43, 72, 200);
    font-family: 'Assistant', sans-serif;
}